html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

#root {
    width: inherit;
    height: inherit;
}


.leaflet-container {
    width: 80%;
    height: 80%;
    margin: auto;
}
